@media (max-width: 992px) {
    .navbar {
        padding: 0;
    }
    .navbar .navbar-brand {
        margin-top: 4px;
    }
    .onscroll-navbar.navbar .navbar-brand {
        margin-top: 4px;
    }
}
